.vh-100 {
    height: 100vh !important;
}

.box {
    width: 18vh;
    position: relative;
    overflow: hidden;
    transition: all 1000ms;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.box:hover {
    width: 70vh;
    position: relative;
    overflow: hidden;
    transition: all 1000ms;
}

.actice {
    /* background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.598), rgba(255, 255, 255, 0.21), transparent); */
    background-color: rgba(180, 110, 60, 0.7) !important;

}

.over {
    background-color: rgba(244, 244, 244, 0.51);
    position: absolute;
    height: 100%;
    width: 100%;
}

.outer {
    margin-top: 95vh;
    position: absolute;
    height: 100%;
    width: 100%;
}

.rotate {
    display: block;
    transform-origin: top left;
    transform: rotate(-90deg);
    white-space: nowrap;
    letter-spacing: 3px;
    line-height: 60px;
    font-weight: 100 !important;
    font-size: 32px;
}


.events {
    background-image: url('/events.jpg');
}

.about {
    background-image: url('/natasha1.jpg')
}

.sermons {
    background-image: url('/sermons.jpg')
}

.galery {
    background-image: url('/galery.jpg')
}

.contact {
    background-image: url('/contact.jpg')
}

.give {
    background-image: url('')
}